@media screen and (max-width: 1100px) {
    
    :root {
        font-size: 60%;
    }
}

@media screen and (max-width: 1024px) {
    
    .profile .container p{
        max-width: 60rem;
        text-align: justify;
    }
    
    .box-wraper{
        grid-template-columns: 300px 300px;
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 900px) {
    
    .title{
        flex-flow: column;
        justify-content: center;
        row-gap: 8rem;
        padding-bottom: 10rem;
    }

    .welcome {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .profile .container{
        padding: 9rem 3rem;
    }

    .profile .container h2{
        font-size: 3.6rem;
    }

    .profile .container h3{
        font-size: 2.8rem;
    }

    .services .container{
        padding: 9rem 3rem;
    }

    .services .container h2{
        font-size: 3.6rem;
    }

    .services .service-wraper{
        width: 100%;
        display: block;
    }
    
    .service-single{
        width: 32rem;
        height: 45rem;
        margin: 3rem auto;
        padding: 0 2rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
        box-shadow: -1px 6px 18px -3px rgba(0,0,0,0.75);
    }

    .portfolio{
        padding: 9rem 0;
    }

    .portfolio .container h2{
        font-size: 3.6rem;
    }

    .details h3{
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    header{
        padding: 0;
    }
    
    .menu-desktop{
        display: none;
    }
    
    .box-wraper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box{
        width: 300px;
    }
    
    .form {
        max-width: 40rem;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 40%;
    }

    .foto-perfil{
        width: 200px;
        height: 200px;
    }

    .social-hub ul li a {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .social-hub ul li a:before{
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0.1);
    }

    .profile .container p:last-of-type{
        margin-bottom: 6rem;
    }

    .profile .container .tech img{
        width: 25px;
        height: 25px;
        margin-bottom: 0;
    }

    .services .container{
        padding: 6rem 3rem;
    }

    #service > p{
        margin-bottom: 6rem;
    }

    .service-single{
        width: 36rem;
    }

    .box{
        width: 300px;
        height: 380px;
    }
}