*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #F2F4F9; 
    --color-info-background: #FFFFFF;
    --color-contrast-lighter: #a385e9;
    --color-contrast-light: #916BEA;
    --color-contrast: #8257E5;
    --color-contrast-dark: #772CE8;
    --color-sub-title: #616c80;
    --color-text: #8d8f94;
    --title: 'Enriqueta', serif;
    --content: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: var(--color-background);
    font-family: var(--content);
}

/* HEADER */

header{
    width: 100%;
    padding: 8rem 3rem;
}

nav{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: rgb(120, 120, 120);
    position: relative;
}

.menu li a:hover{
    color: var(--color-contrast-light);
}

.menu li a span:first-child:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid var(--color-contrast-dark);
    border-left: 2px solid var(--color-contrast-dark);
    transition: .2s;
    opacity: 0;
}

.menu li a:hover span:first-child:before{
    top: -8px;
    left: -8px;
    opacity: 1;
}

.menu li a span:first-child:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid var(--color-contrast-dark);
    border-right: 2px solid var(--color-contrast-dark);
    transition: .2s;
    opacity: 0;
}

.menu li a:hover span:first-child:after{
    top: -8px;
    right: -8px;
    opacity: 1;
}

.menu li a span:last-child:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid var(--color-contrast-dark);
    border-left: 2px solid var(--color-contrast-dark);
    transition: .2s;
    opacity: 0;
}

.menu li a:hover span:last-child:before{
    bottom: -8px;
    left: -8px;
    opacity: 1;
}

.menu li a span:last-child:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid var(--color-contrast-dark);
    border-right: 2px solid var(--color-contrast-dark);
    transition: .2s;
    opacity: 0;
}

.menu li a:hover span:last-child:after{
    bottom: -8px;
    right: -8px;
    opacity: 1;
}

/* TITLE */

.title{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem;
    position: relative;
}

.welcome h2{
    font-size: 2.4rem;
    font-weight: normal;
}

.welcome span{
    font-size: 2.8rem;
    color: var(--color-contrast-light);
    font-weight: bold;
}

.welcome h1{
    font-size: 5rem;
    font-family: var(--title);
    text-transform: capitalize;
    margin: 1rem 0 2rem 0;
    white-space: nowrap;
    color: transparent; 
    position: relative;
}

h1:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #916BEA;
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    -webkit-background-clip: text;
    color: transparent;
    animation: type 4s steps(16) infinite;
}

@keyframes type{
    0%{
        width: 0;
    }
    70%{
        width: 100%;
    }
    90%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}

.welcome p{
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.welcome button{
    display: block;
    position: relative;
    padding: 0.8rem 2.4rem;
    font-size: 2rem;
    border: none;
    color: var(--color-contrast);
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.welcome button:hover, .welcome button:focus{
    color: white;
}

.welcome button span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 3px solid var(--color-contrast-light);
}

.welcome button span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--color-background);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .3s;
}

.welcome button:hover span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: var(--color-contrast-light);
}

.social{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
}

.foto-perfil{
    width: 300px;
    height: 300px;
    border: 8px dotted #916bea70;
    border-radius: 50%;
    animation: 1s spin infinite ease-in-out;
}

.foto-perfil img{
    width: 100%;
    height: 100%;
}

@keyframes spin{
    0%{
        border-top: 8px dotted #916BEA;
    }
    25% {border-top: 8px dotted #916bea70;
        border-right: 8px dotted #916BEA;
    }
    50% {border-right: 8px dotted #916bea70;
        border-bottom: 8px dotted #916BEA;
    }
    75% {border-bottom: 8px dotted #916bea70;
        border-left: 8px dotted #916BEA;  
    }
    100% {border-left: 8px dotted #916bea70;
        border-top: 8px dotted #916BEA;
    }
}

.social-hub ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-hub ul li{
    position: relative;
    list-style: none;
}

.social-hub ul li a{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: gray;
    box-shadow: inset -1px -1px 2px rgba(0,0,0,0.3), 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.5s;
}

.social-hub ul li a:hover{
    color: #999;
    transform: translateY(-15px);
    box-shadow: inset -1px -1px 2px rgba(0,0,0,0.3), 2px 14px 10px rgba(0,0,0,0.2);
}

.social-hub ul li a .fa{
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.social-hub ul li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);
}

.social-hub ul li:nth-child(1) a:before{
    background: #1877f2;
}

.social-hub ul li:nth-child(2) a:before{
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.social-hub ul li:nth-child(3) a:before{
    background: #24292E;
}

.social-hub ul li:nth-child(4) a:before{
    background: #d41818;
}

.arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    background: #735ADA;
    bottom: calc(0% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    background-image: url(../img/icons/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Profile */

.profile{
    width: 100%;
    background: white;
}

.profile .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 12rem 3rem;
    text-align: center;
}

.profile .container h2{
    font-size: 4rem;
    letter-spacing: 5px;
    font-family: var(--title);
    color: var(--color-contrast-light);
}

.profile .container p{
    max-width: 900px;
    font-size: 1.6rem;
    margin: 4rem auto;
    color: var(--color-text)
}

.profile .container p:last-of-type{
    margin-bottom: 8rem;
}

.profile .container h3{
    font-size: 3.2rem;
    color: var(--color-contrast-lighter)
}

.profile .container .tech img{
    width: 50px;
    height: 50px;
    margin: 4rem 1rem;
}

/* Services */

.services{
    width: 100%;
    background: #735ADA;
}

.services .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 12rem 3rem;
    text-align: center;
}

.services .container h2{
    font-size: 4.2rem;
    letter-spacing: 5px;
    font-family: var(--title);
    color: white;
}

#service > p{
    font-size: 1.8rem;
    font-style: italic;
    margin: 3rem 0 8rem;
    color: white;
}

.services .service-wraper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.5rem;
}

.service-single{
    background: white;
    width: calc(100% / 3);
    height: 450px;
    padding: 0 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    box-shadow: -1px 6px 18px -3px rgba(0,0,0,0.75);
}

.service-single img{
    width: 128px;
    height: 128px;
}

.service-single h3{
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-contrast-dark);
}

.service-single p{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 3rem;
    color: var(--color-text);
}

/* PROJECTS */

.projects{
    width: 100%;
    padding: 12rem 0;
}

.projects h2{
    font-size: 4.2rem;
    font-family: var(--title);
    color: var(--color-contrast-light);
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 6rem;
}

.swiper-container {
    width: 100%;
    max-width: 1440px;
    height: 500px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

/* Portfolio */

.portfolio{
    width: 100%;
    padding: 12rem 0;
    background: var(--color-background);
}

.portfolio .container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.box-wraper{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 4rem;
    row-gap: 5rem;
}

.box{
    height: 400px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    position: relative;
}

.img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 4;
    width: 100%;
    height: 10rem;
    text-align: center;
    padding: 1rem;
}

.details h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-contrast);
}

.details a{
    background: var(--color-contrast-light);
    padding: 8px 40px;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 2rem;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.39);
}

.details a:hover{
    background: var(--color-contrast);
}







